# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
.env/

# IDE config files
.vscode/
.idea/

# Data files (根据需要决定是否要忽略)
*.dat
*.iq
# 忽略所有 .h5 数据文件
*.h5

# 忽略所有 .pkl 模型文件
*.pkl

# 忽略临时上传的文件夹
/temp_uploads/

# 忽略保存的模型文件夹
/saved_models/